body {
	background-color: #232323;
	color: white;
	margin: 0;
	font-family: 'Bellefair', sans-serif;
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	font-family: inherit;
	transition: background 0.5s;
	--webkit-transition: background 0.5s;
	--moz-transition: background 0.5s;
}

button:hover, .selected {
	color: white;
	background-color: steelblue;
}

#message {
	display: inline-block;
	width: 20%;
}

#goal {
	font-size: 200%;
}

#stripe {
	background-color: white;
	color: #666666;
	text-align: center;
	height: 30px;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: all 0.5s;
	--webkit-transition: all 0.5s;
	--moz-transition: all 0.5s;
}

.disabled
{
	background-color: #333333;
}